/*
* FILE          : style.css
* PROJECT       : PROG2000 - Assignment #7
* PROGRAMMER    : Alex Kozak & Attila Katona
* FIRST VERSION : 2018-12-06
* DESCRIPTION   : This is where all CSS styling for index.html is located
*/

/*CSS  for .editWindow - Some attributes referenced from https://codepen.io/steinvc/pen/kxbgH*/ 
/*The textable area*/
#text {
    width: 500px;
    height: 600px;
    margin: 16px auto 16px auto;
    border: solid 1px #000000;
    background-color: grey;
    display: block;
    color: #222;
    font-family: Courier, monospace;
    font-weight: normal;
    font-size: 24px;
    resize: vertical;
    line-height: 40px;
    padding: 45px 100px 34px 100px;
    background-image: url(/Images/lines.png), url(/Images/paper.png);
    background-repeat: repeat-y, repeat;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 0 2px 14px #000;
    box-shadow: 0 2px 14px #000;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}
/*The title header*/
h1 
{
    text-align: center;
    font: 30px arial, sans-serif;
}
/*The title div*/
.titleDiv {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}
/*The buttons and file save text area*/
.editOptions {
    padding-top: 10px;
    padding-bottom: 12px;
    text-align: center;
}
/*The main div for the title and buttons area*/
.fullTopDiv {
    background-color: rgba(0,0,0,0.5);
}
/*Putting an image in the background of the entire body*/
body 
{
    background-image:url(/Images/background.jpg);
}
/*The general button styles*/
.button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
/*The button before a hover style*/
.allButton {
    background-color: #001119;
    color: white;
    border: solid #DDD;
    border-radius: 2px;
    margin-left: 24px;
    margin-right: 24px;
}
/*The button hover style*/
.allButton:hover 
{
    background-color: #DDD;
    color: black;
}
/*The textbox that allows user to write the name of the file they would like saved style*/
.textBox {
    height: 26px;
    border: solid #001119;
    border-radius: 6px;
}

/*Style for the drop down box, a select box*/
.selectBox {
    height: 35px;
    border: solid #001119;
    border-radius: 6px;
    min-width: 180px;
}

/* for IE and Edge */
select::-ms-expand 
{
    display: none;
}
